<div>
    <h5>¡¡¡ Tu opinión es importante !!!</h5>
</div>
<div>
    <div data-validate="Name is required">
        <input type="text" name="name" placeholder="Nombre">
    </div>
    <div data-validate="Mail is required">
        <input type="text" name="mail" placeholder="Coreeo">
    </div>
    <div data-validate="Comments is required">
        <textarea class="form-control" rows="5" id="comments"  placeholder="Comentarios" name="text"></textarea>
    </div>
    <button>Enviar Comentarios</button>
</div>