<div>
    <h5>Mi Perfil</h5>
    <img src="https://image.shutterstock.com/image-vector/profile-picture-vector-260nw-404138239.jpg" alt="Avatar"
        style="width:200px">
</div>
<div>
    <div data-validate="Name is required">
        <input type="text" name="name" placeholder="Nombre">
    </div>
    <div data-validate="Second Name is required">
        <input type="text" name="second_name" placeholder="Segundo Nombre">
    </div>
    <div data-validate="Last Name is required">
        <input type="text" name="last_name" placeholder="Apellido">
    </div>
    <div data-validate="Second Last Name is required">
        <input type="text" name="second_last_name" placeholder="Segundo Apellido">
    </div>
    <div data-validate="Mail is required">
        <input type="text" name="mail" placeholder="Coreo">
    </div>
    <div>
        <label for="start">Fecha de Nacimiento:</label>
        <br>
        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
    </div>

    <div data-validate="Curp is required">
        <input type="text" name="curp" placeholder="Curp">
    </div>
    <div data-validate="Telefono is required">
        <input type="text" name="phone" placeholder="Teléfono">
    </div>
    <div data-validate="Password is required">
        <input type="text" name="password" placeholder="Contraseña">
    </div>
    <button>Guardar Cambios</button>
</div>